.season-display{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.icon-left{
    position: absolute;
    top:10px;
    left:10px
}
.icon-right{
    position: absolute;
    bottom:10px;
    right:10px;
}
 .winter {
background-color: red;
}

     .summer{
    background-color: royalblue;
}

.season-display.summer i {
    color: saddlebrown;
}
.season-display.summer i {
    color: seagreen;
}